# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
../adresse.o
../algos.o
../config.o
../graphe.o
../main.o
../programme
../reseau.o
../sae_s21
../station.o
../stp.o
../switch.o
../tram.o
../utils.o